<a href="https://colab.research.google.com/github/andrejarenkow/Tabula-pdf-tables/blob/main/Concurso_Porto_Alegre_POA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

https://tabula-py.readthedocs.io/en/latest/

http://lproweb.procempa.com.br/pmpa/prefpoa/concursos/usu_doc/edital_063-2023_-_anexo_iii_notas_preliminares.pdf

https://aegis4048.github.io/parse-pdf-files-while-retaining-structure-with-tabula-py

In [ ]:
pip install tabula-py

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting tabula-py
  Downloading tabula_py-2.7.0-py3-none-any.whl (12.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.0/12.0 MB 47.0 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25.3 in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.5.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from tabula-py) (1.22.4)
Collecting distro (from tabula-py)
  Downloading distro-1.8.0-py3-none-any.whl (20 kB)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.25.3->tabula-py) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas>=0.25.3->tabula-py) (1.16.0)
Installing collected packages: distro, tabula-py
Successfully installed distro-1.8.0 tabula-py-2.7.0

In [ ]:
import pandas as pd
import tabula

In [ ]:
arquivo_pdf = 'http://lproweb.procempa.com.br/pmpa/prefpoa/concursos/usu_doc/edital_063-2023_-_anexo_iii_notas_preliminares.pdf'

In [ ]:
tabelas = tabula.read_pdf(arquivo_pdf, pages='all', lattice=True)
len(tabelas)

306

In [ ]:
tabelao = pd.DataFrame()
for i in tabelas:
  if len(i.columns)>4:
    tabelao = pd.concat([i.T.reset_index().T.replace('\r',' ', regex=True).replace(',','.', regex=True), tabelao])
    
tabelao = tabelao.reset_index(drop=True)
tabelao

,0,1,2,3,4,5,6,7,8,9
index,PAUINI BARCELLOS SANCHEZ,74715553282-7,7.00,3.00,6.00,13.00,32.00,61.00,NaN,NaN
0,ROSANE TURCO VIEIRA WACHHOLZ,74715601682-0,7.00,3.00,7.00,9.00,28.00,54.00,NaN,NaN
1,SANDRA CARDOSO DE LIMA ESCOBAR,74715583810-0,-,-,-,-,-,-,NaN,NaN
2,VANIZE MARTINS FLORES,74715596024-4,7.00,2.00,3.00,12.00,36.00,60.00,NaN,NaN
3,YSMAEL LEONARDO MARTINEZ MARQUEZ,74715568214-7,4.00,1.00,4.00,7.00,32.00,48.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
35,ADRIANA MACHADO BARBOSA DA ROCHA,74701599213-2,5.00,2.00,3.00,8.00,18.00,36.00,NaN,NaN
36,ADRIANA MADEIRA MEDEIROS,74701559413-5,5.00,3.00,2.00,11.00,0.00,21.00,NaN,NaN
37,ADRIANA MARTINS MARQUES,74701549371-1,5.00,3.00,3.00,12.00,18.00,41.00,NaN,NaN
38,ADRIANA MENDES DUARTE,74701548181-9,5.00,4.00,4.00,10.00,28.00,51.00,NaN,NaN
39,ADRIANA MOTA RIOS,74701545401-6,5.00,1.00,4.00,6.00,8.00,24.00,NaN,NaN

In [ ]:
tabelao.columns = ['Nome', 'Inscricao','Portugues','Legislacao','Legislacao Especifica','Conhecimentos Pedagogicos','Conhecimentos Especificos','Total','tirar','tirar2']
tabelao = tabelao.drop(['tirar','tirar2'], axis=1)
tabelao

,Nome,Inscricao,Portugues,Legislacao,Legislacao Especifica,Conhecimentos Pedagogicos,Conhecimentos Especificos,Total
index,PAUINI BARCELLOS SANCHEZ,74715553282-7,7.00,3.00,6.00,13.00,32.00,61.00
0,ROSANE TURCO VIEIRA WACHHOLZ,74715601682-0,7.00,3.00,7.00,9.00,28.00,54.00
1,SANDRA CARDOSO DE LIMA ESCOBAR,74715583810-0,-,-,-,-,-,-
2,VANIZE MARTINS FLORES,74715596024-4,7.00,2.00,3.00,12.00,36.00,60.00
3,YSMAEL LEONARDO MARTINEZ MARQUEZ,74715568214-7,4.00,1.00,4.00,7.00,32.00,48.00
...,...,...,...,...,...,...,...,...
35,ADRIANA MACHADO BARBOSA DA ROCHA,74701599213-2,5.00,2.00,3.00,8.00,18.00,36.00
36,ADRIANA MADEIRA MEDEIROS,74701559413-5,5.00,3.00,2.00,11.00,0.00,21.00
37,ADRIANA MARTINS MARQUES,74701549371-1,5.00,3.00,3.00,12.00,18.00,41.00
38,ADRIANA MENDES DUARTE,74701548181-9,5.00,4.00,4.00,10.00,28.00,51.00
39,ADRIANA MOTA RIOS,74701545401-6,5.00,1.00,4.00,6.00,8.00,24.00

In [ ]:
colunas_numericas = ['Portugues','Legislacao','Legislacao Especifica','Conhecimentos Pedagogicos','Conhecimentos Especificos','Total']
for i in colunas_numericas:
  tabelao[i] = pd.to_numeric(tabelao[i], errors='coerce')

tabelao

,Nome,Inscricao,Portugues,Legislacao,Legislacao Especifica,Conhecimentos Pedagogicos,Conhecimentos Especificos,Total
index,PAUINI BARCELLOS SANCHEZ,74715553282-7,7.0,3.0,6.0,13.0,32.0,61.0
0,ROSANE TURCO VIEIRA WACHHOLZ,74715601682-0,7.0,3.0,7.0,9.0,28.0,54.0
1,SANDRA CARDOSO DE LIMA ESCOBAR,74715583810-0,NaN,NaN,NaN,NaN,NaN,NaN
2,VANIZE MARTINS FLORES,74715596024-4,7.0,2.0,3.0,12.0,36.0,60.0
3,YSMAEL LEONARDO MARTINEZ MARQUEZ,74715568214-7,4.0,1.0,4.0,7.0,32.0,48.0
...,...,...,...,...,...,...,...,...
35,ADRIANA MACHADO BARBOSA DA ROCHA,74701599213-2,5.0,2.0,3.0,8.0,18.0,36.0
36,ADRIANA MADEIRA MEDEIROS,74701559413-5,5.0,3.0,2.0,11.0,0.0,21.0
37,ADRIANA MARTINS MARQUES,74701549371-1,5.0,3.0,3.0,12.0,18.0,41.0
38,ADRIANA MENDES DUARTE,74701548181-9,5.0,4.0,4.0,10.0,28.0,51.0
39,ADRIANA MOTA RIOS,74701545401-6,5.0,1.0,4.0,6.0,8.0,24.0

In [ ]:
tabelao = tabelao.reset_index(drop=True)

In [ ]:
codigos = {
    '74701':'Professor - Anos Iniciais',
    '74702':'Professor - Artes',
    '74703':'Professor - Ciência Químicas, Físicas e Biológicas',
    '74704':'Professor - Educação Física',
    '74705':'Professor - Educação Infantil',
    '74706':'Professor - Filosofia',
    '74707':'Professor - Geografia',
    '74708':'Professor – História',
    '74709':'Professor – Língua Espanhola',
    '74710':'Professor - Língua Inglesa',
    '74711':'Professor - Língua Portuguesa',
    '74712':'Professor - Matemática',
    '74713':'Professor Educação Especial - Habilitação Deficiência Mental',
    '74714':'Professor Educação Especial - Habilitação Deficiência Visual',
    '74715':'Professor Educação Especial - Habilitação Educação de Surdos',
}

tabelao['Inscricao_codigo'] = [x[:5] for x in tabelao['Inscricao'].astype(str)]
tabelao['Cargo'] = tabelao['Inscricao_codigo'].map(codigos)
tabelao = tabelao.dropna(subset='Cargo')
tabelao

,Nome,Inscricao,Portugues,Legislacao,Legislacao Especifica,Conhecimentos Pedagogicos,Conhecimentos Especificos,Total,Inscricao_codigo,Cargo
0,PAUINI BARCELLOS SANCHEZ,74715553282-7,7.0,3.0,6.0,13.0,32.0,61.0,74715,Professor Educação Especial - Habilitação Educ...
1,ROSANE TURCO VIEIRA WACHHOLZ,74715601682-0,7.0,3.0,7.0,9.0,28.0,54.0,74715,Professor Educação Especial - Habilitação Educ...
2,SANDRA CARDOSO DE LIMA ESCOBAR,74715583810-0,NaN,NaN,NaN,NaN,NaN,NaN,74715,Professor Educação Especial - Habilitação Educ...
3,VANIZE MARTINS FLORES,74715596024-4,7.0,2.0,3.0,12.0,36.0,60.0,74715,Professor Educação Especial - Habilitação Educ...
4,YSMAEL LEONARDO MARTINEZ MARQUEZ,74715568214-7,4.0,1.0,4.0,7.0,32.0,48.0,74715,Professor Educação Especial - Habilitação Educ...
...,...,...,...,...,...,...,...,...,...,...
7174,ADRIANA MACHADO BARBOSA DA ROCHA,74701599213-2,5.0,2.0,3.0,8.0,18.0,36.0,74701,Professor - Anos Iniciais
7175,ADRIANA MADEIRA MEDEIROS,74701559413-5,5.0,3.0,2.0,11.0,0.0,21.0,74701,Professor - Anos Iniciais
7176,ADRIANA MARTINS MARQUES,74701549371-1,5.0,3.0,3.0,12.0,18.0,41.0,74701,Professor - Anos Iniciais
7177,ADRIANA MENDES DUARTE,74701548181-9,5.0,4.0,4.0,10.0,28.0,51.0,74701,Professor - Anos Iniciais
7178,ADRIANA MOTA RIOS,74701545401-6,5.0,1.0,4.0,6.0,8.0,24.0,74701,Professor - Anos Iniciais

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.express as px

In [ ]:
data = tabelao.value_counts('Cargo').reset_index()
data.columns = ['Cargo','Inscritos']
px.bar(data, x='Cargo', y='Inscritos', text_auto=True)

In [ ]:
port = tabelao['Portugues']>=4
legisl = tabelao['Legislacao']>=2
lesgil_esp = tabelao['Legislacao Especifica']>=4
conhec = tabelao['Conhecimentos Pedagogicos']>=8
conhec_esp = tabelao['Conhecimentos Especificos']>=20
tot = tabelao['Total']>=40

filtro_passar = port & legisl & lesgil_esp & conhec & conhec_esp & tot
tabelao['Situacao'] = filtro_passar
tabelao['Situacao'] = tabelao['Situacao'].replace({True:'Aprovado', False:'Não aprovado'})
tabelao.reset_index(drop=True, inplace=True)

notas = []
for i in range(len(tabelao)):
  
  if tabelao['Situacao'][i] == 'Aprovado':
    notas.append(tabelao['Total'][i])
  
  else:
    notas.append(0)

tabelao['Total_rank_final'] = notas

tabelao_rankeado = pd.DataFrame()

for i in tabelao['Cargo'].unique():
  filtro_cargo = tabelao['Cargo']==i
  tabelao_filtrado = tabelao[filtro_cargo].sort_values('Total_rank_final', ascending=False).reset_index(drop=True)
  tabelao_filtrado['rank'] = tabelao_filtrado['Total_rank_final'].rank(method='dense', ascending=False)
  tabelao_filtrado = tabelao_filtrado.sort_values('rank')
  tabelao_rankeado = pd.concat([tabelao_filtrado, tabelao_rankeado])
  


tabelao_rankeado = tabelao_rankeado.reset_index(drop=True)
tabelao_rankeado.to_excel('tabelao_rankeado.xlsx', index=False)
tabelao_rankeado

<ipython-input-179-8ab84a5e8cb7>:9: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-179-8ab84a5e8cb7>:10: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

<ipython-input-179-8ab84a5e8cb7>:22: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Nome,Inscricao,Portugues,Legislacao,Legislacao Especifica,Conhecimentos Pedagogicos,Conhecimentos Especificos,Total,Inscricao_codigo,Cargo,Situacao,Total_rank_final,rank
0,VITÓRIA BERSCH,74701549346-7,10.0,5.0,10.0,13.0,36.0,74.0,74701,Professor - Anos Iniciais,Aprovado,74.0,1.0
1,MARINA KUNZEL IBIAS,74701597125-0,10.0,5.0,7.0,12.0,36.0,70.0,74701,Professor - Anos Iniciais,Aprovado,70.0,2.0
2,LUCIANE CONCEIÇÃO AZEVEDO,74701597499-0,10.0,4.0,6.0,11.0,38.0,69.0,74701,Professor - Anos Iniciais,Aprovado,69.0,3.0
3,CRISTIANE DOS SANTOS ALBERTI,74701562527-1,9.0,3.0,8.0,13.0,34.0,67.0,74701,Professor - Anos Iniciais,Aprovado,67.0,4.0
4,CLARISSE MACEDO GONÇALVES,74701547335-6,10.0,5.0,9.0,13.0,30.0,67.0,74701,Professor - Anos Iniciais,Aprovado,67.0,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7043,CLEUZA KLEIN SILVINO,74715584299-8,7.0,1.0,4.0,10.0,32.0,54.0,74715,Professor Educação Especial - Habilitação Educ...,Não aprovado,0.0,7.0
7044,ELIZÂNGELA ROLIM DA SILVA,74715554611-5,NaN,NaN,NaN,NaN,NaN,NaN,74715,Professor Educação Especial - Habilitação Educ...,Não aprovado,0.0,7.0
7045,KELLY NORLING WEBER,74715597958-0,7.0,1.0,6.0,7.0,34.0,55.0,74715,Professor Educação Especial - Habilitação Educ...,Não aprovado,0.0,7.0
7046,LUCIANA DA APARECIDA SOARES MEIRA,74715593938-9,4.0,1.0,3.0,11.0,38.0,57.0,74715,Professor Educação Especial - Habilitação Educ...,Não aprovado,0.0,7.0
7047,MILLY DAYANA LEON DE MARTINEZ,74715559858-4,7.0,1.0,2.0,10.0,28.0,48.0,74715,Professor Educação Especial - Habilitação Educ...,Não aprovado,0.0,7.0

In [ ]:
range(len(tabelao))

range(0, 7048)

In [ ]:
tabelao_rankeado.to_excel('tabelao_rankeado.xlsx', index=False)

In [ ]:
pd.crosstab(tabelao_rankeado['Cargo'], tabelao_rankeado['Situacao'], values='Nome', aggfunc='count', margins=True, margins_name='Total')

Situacao,Aprovado,Não aprovado,Total
Cargo,,,
Professor - Anos Iniciais,953,1328,2281
Professor - Artes,100,149,249
"Professor - Ciência Químicas, Físicas e Biológicas",99,306,405
Professor - Educação Física,151,343,494
Professor - Educação Infantil,736,634,1370
Professor - Filosofia,46,62,108
Professor - Geografia,102,182,284
Professor - Língua Inglesa,51,104,155
Professor - Língua Portuguesa,143,342,485
Professor - Matemática,110,197,307
Professor Educação Especial - Habilitação Deficiência Mental,166,99,265
Professor Educação Especial - Habilitação Deficiência Visual,12,7,19
Professor Educação Especial - Habilitação Educação de Surdos,6,10,16
Professor – História,131,411,542
Professor – Língua Espanhola,30,38,68
Total,2836,4212,7048

In [ ]:
(pd.crosstab(tabelao_rankeado['Cargo'], tabelao_rankeado['Situacao'], values='Nome', aggfunc='count', normalize='index')*100).round(2)

Situacao                                            Aprovado  Não aprovado
Cargo
Professor - Anos Iniciais                              41.78         58.22
Professor - Artes                                      40.16         59.84
Professor - Ciência Químicas, Físicas e Biológicas     24.44         75.56
Professor - Educação Física                            30.57         69.43
Professor - Educação Infantil                          53.72         46.28
Professor - Filosofia                                  42.59         57.41
Professor - Geografia                                  35.92         64.08
Professor - Língua Inglesa                             32.90         67.10
Professor - Língua Portuguesa                          29.48         70.52
Professor - Matemática                                 35.83         64.17
Professor Educação Especial - Habilitação Defic...     62.64         37.36
Professor Educação Especial - Habilitação Defic...     63.16         36.84
Professor Educação Especial - Habilitação Educa...     37.50         62.50
Professor – História                                   24.17         75.83
Professor – Língua Espanhola                           44.12         55.88